astroid==2.15.8
click==8.1.7
Flask==3.0.3
Flask-Cors==6.0.0
gunicorn==23.0.0
isort==5.13.2
itsdangerous==2.1.2
Jinja2==3.1.6
lazy-object-proxy==1.10.0
MarkupSafe==2.1.5
mccabe==0.7.0
Pillow==10.4.0
pylint==2.17.7
six==1.16.0
typed-ast==1.5.5
Werkzeug==3.0.6
wrapt==1.16.0
